
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

.footer {
    background-color: #f5f5f5;
}

.footer-text {
    font-size: 0.8rem;
}

.link-text{
    font-size: 0.5rem;
}

h7.card-header{
    padding: 0.25rem 0.75rem;
}


#effect>.row{
    margin-bottom: 20px;
    text-align: start;
}

.cardboard.None{
    background-color: ghostwhite;
}

.cardboard.Potion{
    background-color: #fff235;
}

.cardboard.Daily{
    background-color: gray;
}

.cardboard.Encounter{
    background-color: firebrick;
}

.cardboard.Instant{
    background-color: #BADA55;
}

.cardboard.Normal{
    background-color: green;
}